/*============================================================skeleton==============================================================*/
html {
  scroll-behavior: smooth !important;
  font-family: Arial, sans-serif;
}
* {
  margin: 0;
  padding: 0;
  --color-white: white;
  --color-light-gray: #a8acb2;
  --color-gradient-start: #36096d;
  --color-gradient-end: #3586ff;
  --color-red: rgb(181, 38, 38);
  --color-box-bg: #1d1c20;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  overflow-x: hidden;
  position: relative;
  color: var(--color-white);
  background-color: var(--color-gradient-start);
  background-color: hsl(0, 0, 1.6%);
}

.content {
  width: 100%;
  max-width: 1260px;
  margin: auto;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

h4 {
  font-size: 1rem;
  color: var(--color-light-gray);
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-direction: column;
  padding: 30px;
  color: var(--color-white);
  background-color: hsl(0, 0%, 10%);
}

.wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("https://i.ibb.co/wQZVxxk/wave.png");
  background-size: 1000px 100px;
}

.wave#wave1 {
  z-index: 1;
  opacity: 1;
  bottom: 0;
  animation: animateWaves 4s linear infinite;
}

.wave#wave2 {
  z-index: 0;
  opacity: 0.5;
  bottom: 10px;
  animation: animateWave 4s linear infinite !important;
}

.wave#wave3 {
  z-index: 1;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
  z-index: 0;
  opacity: 0.7;
  bottom: 20px;
  animation: animateWave 3s linear infinite;
}

@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

@keyframes animateWave {
  0% {
    background-position-x: -1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}
/*================================================================animation====================================================*/
#animate {
  transform: translatex(-100%);
  opacity: 0;
  filter: blur(10px);
  transition: all 1s;
  transition-delay: calc(100ms * var(--order));
}

#animate.active {
  transform: translatex(0);
  filter: blur(0);
  opacity: 1;
}
/*===================================ScrollBar=====================================================================================*/
::-webkit-scrollbar {
  width: 0.65rem;
  background-color: hsl(0, 0%, 10%);
}
::-webkit-scrollbar-thumb {
  width: 0.5rem;
  background-color: hsl(0, 0%, 24%);
}

::-webkit-scrollbar-thumb:hover {
  background-color: hsl(0, 0%, 30%);
}

/*============================================================NaveBar==============================================================*/

.navbar {
  width: 100%;
  position: fixed;
  top: 0%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 3;
}
.navbar .content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.nav {
  background-color: hsl(0, 0%, 10%) !important;
  transition: background-color 200ms linear;
}

.navbar .logo a {
  font-size: 1.65rem;
  font-weight: bold;
  font-family: cursive;
  color: var(--color-white);
}
.navbar .links {
  display: flex;
  padding-right: 10px;
  font-weight: bold;
  gap: 2.7rem;
}
.navbar .links li {
  list-style: none;
}
.navbar .links a {
  background: linear-gradient(to right, var(--color-white), hsl(0, 0%, 10%)),
    linear-gradient(to left, var(--color-white), hsl(0, 0%, 10%));
  background-size: 100% 3px, 0 3px;
  background-position: 100% 120%, 4px 120%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}
.navbar .links a:hover {
  background-size: 0 3px, 100% 3px;
}

.navbar .toggle_btn {
  color: #fff;
  font-size: 1.6rem;
  cursor: pointer;
  display: none;
}
.navbar .links .action_btn {
  background: linear-gradient(
      to left,
      var(--color-gradient-start) 0%,
      var(--color-gradient-end) 100%
    ),
    linear-gradient(
      to right,
      var(--color-gradient-start) 0%,
      var(--color-gradient-end) 100%
    );
  background-size: 100%, 200%;
  color: var(--color-white);
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 0 10px;
  font-weight: bold;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: background-size 1s;
}
.navbar .links .action_btn:hover {
  scale: 1.05;
  background-size: 0%, 100%;
}
.navbar .links .action_btn:active {
  scale: 0.9;
}

/* ==============================================================================dropDown Menu============================================================================== */

.dropdown_menu {
  display: none;
  position: fixed;
  height: 0%;

  background-color: hsl(0, 0%, 10%);
  box-shadow: 5px 20px 50px #000;
  border-radius: 1rem;
  overflow: hidden;
  transition: height 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  z-index: 3;
}

.dropdown_menu.open {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 285px;
  width: 100%;
  margin-top: 80px;
}
.dropdown_menu li {
  padding: 0.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dropdown_menu li a {
  background: linear-gradient(to right, var(--color-white), hsl(0, 0%, 10%)),
    linear-gradient(to left, var(--color-white), hsl(0, 0%, 10%));
  background-size: 100% 3px, 0 3px;
  background-position: 100% 110%, 4px 110%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}
.dropdown_menu li a:hover {
  background-size: 0 3px, 100% 3px;
}

/* =============================================================================Intro========================================================================================= */
.intro {
  position: relative;
  display: flex;
  align-items: center;
  height: 100vh;
  background-image: url("img/s3.jpg");
  background-size: 40% 100% cover;
  background-position: 100% 0%;
  background-repeat: no-repeat;
  background-color: hsl(0, 0%, 1.6%);
  --mask: radial-gradient(
        103.23px at 50% calc(100% - 144px),
        #000 99%,
        #0000 101%
      )
      calc(50% - 120px) 0/240px 100%,
    radial-gradient(103.23px at 50% calc(100% + 84px), #0000 99%, #000 101%) 50%
      calc(100% - 60px) / 240px 100% repeat-x;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}

.intro .cont {
  display: flex;
  flex-direction: column;
}
.intro .box {
  font-style: italic;
  font-variant: small-caps;
}
.name {
  display: flex;
  color: var(--color-white);
  text-decoration: underline solid rgb(110, 110, 110);
  font-size: 25px;
}
#first {
  display: flex;
  position: relative;
  font-size: 25px;
  margin-top: -35px;
  margin-left: 30px;
  color: var(--color-gradient-end);
  font-family: monospace;
}
.FN {
  font-size: 30px;
  align-self: center;
  font-family: cursive;
  display: block;
}
.box {
  height: 170px;
}
.buttons {
  display: flex;
  gap: 50px;
}
.Learn-button {
  background: linear-gradient(
      to left,
      var(--color-gradient-start) 0%,
      var(--color-gradient-end) 0%
    ),
    linear-gradient(
      to left,
      var(--color-gradient-start) 0%,
      var(--color-gradient-end) 100%
    );
  background-size: 100%, 200%;
  border-radius: 5px;
  color: var(--color-white);
  padding: 0.6rem 1.1rem;
  border: none;
  outline: none;
  font-size: 1.1rem;
  font-weight: bold;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: background-size 1s;
  animation: float 5s ease-in-out infinite;
}
.Learn-button:hover {
  scale: 1.05;
  background-size: 0%, 100%;
}
.Hire-button {
  background: linear-gradient(
      to left,
      var(--color-gradient-start) 100%,
      var(--color-gradient-end) 100%
    ),
    linear-gradient(
      to right,
      var(--color-gradient-start) 0%,
      var(--color-gradient-end) 100%
    );
  background-size: 100%, 200%;
  border-radius: 0 15px;
  color: var(--color-white);
  padding: 0.6rem 1.1rem;
  border: none;
  outline: none;
  font-size: 1.1rem;
  font-weight: bold;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: background-size 1s;
  animation: float 5s ease-in-out infinite;
}
.Hire-button:hover {
  scale: 1.05;
  background-size: 0%, 100%;
}

/*==================================================================================about======================================================================================*/

.aboutSec {
  display: flex;
  background-color: var(--color-gradient-start);
  overflow: hidden;
  padding: 30px 0px 75px 0;
}

.aboutSec .content {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.title {
  position: relative;
  margin: 75px 10px;
}
.title h1 {
  color: var(--color-white);
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  margin: auto;
  white-space: nowrap;
  padding-bottom: 13px;
}
.title h1:before {
  background-color: var(--color-red);
  content: "";
  display: block;
  height: 5px;
  width: 40%;
  margin-bottom: 5px;
}
.title h1:after {
  background-color: var(--color-red);
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  height: 5px;
  width: 40%;
  margin-bottom: 0.25em;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
  transform: translatex(0);
}
.container h1 {
  color: var(--color-white);
}

.container #Certifications li {
  padding: 10px;
  text-align: left;
}
.container i {
  letter-spacing: 5px;
  padding: 20px;
}
.tab {
  width: 100%;
}

.tab-titles {
  display: flex;
  justify-content: space-evenly;
}
.tab-links {
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}
.tab-links::after {
  content: "";
  width: 0;
  height: 2px;
  background: linear-gradient(to right, var(--color-white), hsl(0, 0%, 10%)),
    linear-gradient(to left, var(--color-white), hsl(0, 0%, 10%));
  background-size: 100% 3px, 0 3px;
  background-position: 100% 110%, 4px 110%;
  background-repeat: no-repeat;
  transition: background-size 0.5s;
  position: absolute;
  left: 0;
  bottom: -8px;
}

.tab-links:hover:after {
  background-size: 0% 3px, 100% 3px;
}

.tab-links.active-link::after {
  width: 100%;
}

.tab-contents li {
  margin-top: 30px;
  word-spacing: normal;
}
.tab-contents {
  display: none;
}
.tab-contents.active-tab {
  display: block;
}

.skill-type {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.box-text {
  width: 300px;
  height: 350px;
  text-align: center;
  background-color: #1d1c20;
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  padding: 15px;
  border-radius: 1rem;
}

.box-title {
  position: relative;
  font-size: 2.2rem;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 5px;
  color: var(--color-white);
}

/**==============================================Bubbles Background=================================**/

.wrapper {
  height: 100%;
  width: 100%;
  background-color: hsl(0, 0%, 1.6%);
  position: absolute;
  z-index: -3;
  overflow: hidden;
}

.wrapper div {
  height: 100px;
  width: 100px;
  border: 2px solid rgba(255, 255, 255, 0.7);
  border-radius: 50px;
  position: absolute;
  top: 10%;
  left: 10%;
  animation: 4s linear infinite;
}

.wrapper div:nth-child(1) {
  top: 50%;
  left: 60%;
  animation: animate 8s linear infinite;
}
.wrapper div:nth-child(2) {
  top: 60%;
  left: 80%;
  animation: animate 10s linear infinite;
}
.wrapper div:nth-child(3) {
  top: 40%;
  left: 40%;
  animation: animate 3s linear infinite;
}
.wrapper div:nth-child(4) {
  top: 66%;
  left: 30%;
  animation: animate 7s linear infinite;
}
.wrapper div:nth-child(5) {
  top: 90%;
  left: 30%;
  animation: animate 5s linear infinite;
}
.wrapper div:nth-child(6) {
  top: 30%;
  left: 60%;
  animation: animate 5s linear infinite;
}
.wrapper div:nth-child(7) {
  top: 70%;
  left: 20%;
  animation: animate 8s linear infinite;
}
.wrapper div:nth-child(8) {
  top: 75%;
  left: 60%;
  animation: animate 10s linear infinite;
}
.wrapper div:nth-child(9) {
  top: 50%;
  left: 50%;
  animation: animate 6s linear infinite;
}
.wrapper div:nth-child(10) {
  top: 45%;
  left: 20%;
  animation: animate 10s linear infinite;
}
.wrapper div:nth-child(11) {
  top: 10%;
  left: 90%;
  animation: animate 9s linear infinite;
}
.wrapper div:nth-child(12) {
  top: 20%;
  left: 70%;
  animation: animate 7s linear infinite;
}
.wrapper div:nth-child(13) {
  top: 10%;
  left: 2%;
  animation: animate 8s linear infinite;
}
.wrapper div:nth-child(14) {
  top: 60%;
  left: 5%;
  animation: animate 6s linear infinite;
}
.wrapper div:nth-child(15) {
  top: 95%;
  left: 80%;
  animation: animate 9s linear infinite;
}
.wrapper div:nth-child(16) {
  top: 94%;
  left: 60%;
  animation: animate 12s linear infinite;
}

@keyframes animate {
  0% {
    transform: scale(0) translateY(0) rotate(70deg);
  }
  100% {
    transform: scale(1.3) translateY(-100px) rotate(360deg);
  }
}

/* ==================================================================================================Cards============================================================================== */
#projects {
  width: 100%;
  position: relative;
  --mask: radial-gradient(11.41px at 50% 15.5px, #000 99%, #0000 101%)
      calc(50% - 20px) 0/40px 100%,
    radial-gradient(11.41px at 50% -5.5px, #0000 99%, #000 101%) 50% 10px/40px
      100% repeat-x;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}
.language{
  color: var(--color-gradient-end);
  margin-bottom: 10px;
}
#projects .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 0 175px 0px;
}

.card-sec {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 100px;
  margin: 30px 0 100px 0px;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  width: 450px;
}

.card > div {
  transform: translatey(0px);
  animation: float 7s ease-in-out infinite;
}
.card-image {
  width: 100%;
  height: 250px;
  overflow: hidden;
  z-index: -2;
}

.card-image > img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.card-text {
  margin: -30px auto;
  width: 360px;
  max-width: 90%;
  background-color: #1d1c20;
  color: var(--color-white);
  padding: 20px;
  min-height: 350px;
  border-radius: 1rem;
}

.card-title {
  font-size: 1.6rem;
  margin-bottom: 20px;
  color: var(--color-white);
}
.card-body {
  font-size: 1.05rem;
  color: var(--color-light-gray);
}
.card-image > img:hover {
  scale: 1.1;
}
.hidden {
  display: none;
}

@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-20px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
}

/* ==================================================================================================Exp============================================================================== */

.timeline {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  background: var(--color-gradient-end);
  text-align: center;
  color: #000;
  padding: 0px 0 50px 0;
}

.timeline__event {
  position: relative;
  display: flex;
  margin: 30px 20px;
  border-radius: 6px;
  align-self: center;
  z-index: 1;
}
.timeline__event:nth-child(2n + 1) {
  flex-direction: row-reverse;
}
.timeline__event:nth-child(2n + 1) .timeline__event__date {
  border-radius: 0 6px 6px 0;
}
.timeline__event:nth-child(2n + 1) .timeline__event__content {
  border-radius: 6px 0 0 6px;
}
.timeline__event:nth-child(2n + 1) .timeline__event__icon:before {
  content: "";
  width: 2px;
  height: 100%;
  background: #f6a4ec;
  position: absolute;
  top: 0%;
  left: 50%;
  right: auto;
  z-index: -1;
  transform: translateX(-50%);
  animation: fillTop 2s forwards 4s ease-in-out;
}
.timeline__event:nth-child(2n + 1) .timeline__event__icon:after {
  content: "";
  width: 100%;
  height: 2px;
  background: #f6a4ec;
  position: absolute;
  right: 0;
  z-index: -1;
  top: 50%;
  left: auto;
  transform: translateY(-50%);
  animation: fillLeft 2s forwards 4s ease-in-out;
}
.timeline__event__title {
  font-size: 1.2rem;
  line-height: 1.4;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: 600;
  color: #9251ac;
  letter-spacing: 1.5px;
}
.timeline__event__content {
  padding: 30px;
  box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
    0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  background: var(--color-white);
  text-align: left;
  width: calc(40vw - 84px);
  border-radius: 0 6px 6px 0;
}

.timeline__event__content li {
  padding: 7px 0px;
}
.timeline__event__date {
  color: #fdd3f8;
  font-size: 1.5rem;
  font-weight: 600;
  background: #9251ac;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  padding: 0 20px;
  border-radius: 6px 0 0 6px;
}
.timeline__event__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #9251ac;
  padding: 20px;
  align-self: center;
  margin: 0 20px;
  background: #fdd3f8;
  border-radius: 100%;
  width: 50px;
  box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
    0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  padding: 60px;
  height: 50px;
  position: relative;
}
.timeline__event__icon i {
  font-size: 32px;
}
.timeline__event__icon:before {
  content: "";
  width: 2px;
  height: 100%;
  background: #fdd3f8;
  position: absolute;
  top: 0%;
  z-index: -1;
  left: 50%;
  transform: translateX(-50%);
  animation: fillTop 2s forwards 4s ease-in-out;
}
.timeline__event__icon:after {
  content: "";
  width: 100%;
  height: 2px;
  background: #fdd3f8;
  position: absolute;
  left: 0%;
  z-index: -1;
  top: 50%;
  transform: translateY(-50%);
  animation: fillLeftOdd 2s forwards 4s ease-in-out;
}
.timeline__event__description {
  flex-basis: 100%;
}
.timeline__event--type2:after {
  background: #555ac0;
}
.timeline__event--type2 .timeline__event__date {
  color: #d3e3f8;
  background: #555ac0;
}
.timeline__event--type2:nth-child(2n + 1) .timeline__event__icon:before,
.timeline__event--type2:nth-child(2n + 1) .timeline__event__icon:after {
  background: #d3e3f8;
}
.timeline__event--type2 .timeline__event__icon {
  background: #d3e3f8;
  color: #555ac0;
}
.timeline__event--type2 .timeline__event__icon:before,
.timeline__event--type2 .timeline__event__icon:after {
  background: #d3e3f8;
}
.timeline__event--type2 .timeline__event__title {
  color: #555ac0;
}
.timeline__event--type3:after {
  background: #24b47e;
}
.timeline__event--type3 .timeline__event__date {
  color: #d4fad8;
  background-color: #24b47e;
}
.timeline__event--type3:nth-child(2n + 1) .timeline__event__icon:before,
.timeline__event--type3:nth-child(2n + 1) .timeline__event__icon:after {
  background: #d4fad8;
}
.timeline__event--type3 .timeline__event__icon {
  background: #d4fad8;
  color: #24b47e;
}
.timeline__event--type3 .timeline__event__icon:before,
.timeline__event--type3 .timeline__event__icon:after {
  background: #d4fad8;
}
.timeline__event--type3 .timeline__event__title {
  color: #24b47e;
}
.timeline__event:last-child .timeline__event__icon:before {
  content: none;
}

@media (max-width: 786px) {
  .timeline__event {
    flex-direction: column;
    align-self: center;
  }
  .timeline__event__content {
    width: 100%;
  }
  .timeline__event__icon {
    border-radius: 6px 6px 0 0;
    width: 100%;
    margin: 0;
    box-shadow: none;
  }
  .timeline__event__icon:before,
  .timeline__event__icon:after {
    display: none;
  }
  .timeline__event__date {
    border-radius: 0;
    padding: 20px;
  }
  .timeline__event:nth-child(2n + 1) {
    flex-direction: column;
    align-self: center;
  }
  .timeline__event:nth-child(2n + 1) .timeline__event__date {
    border-radius: 0;
    padding: 20px;
  }
  .timeline__event:nth-child(2n + 1) .timeline__event__icon {
    border-radius: 6px 6px 0 0;
    margin: 0;
  }
}

@keyframes fillLeft {
  100% {
    right: 100%;
  }
}

@keyframes fillTop {
  100% {
    top: 100%;
    height: 250%;
  }
}

@keyframes fillLeftOdd {
  100% {
    left: 100%;
  }
}

/*=====================================================================================Icons=============================================================================== */
.icons {
  display: flex;
  justify-content: center;
  column-gap: 25px;
  margin: 10px;
  z-index: 1;
}
.icon {
  display: inline-flex;
  width: 60px;
  height: 60px;
  text-decoration: none;
  font-size: 30px;
  color: var(--color-white);
  border-radius: 50%;
  outline: 2px solid var(--color-white);
  transition-property: outline-offset, outline-color, background-color;
  transition-duration: 0.25s;
}
.icon:hover {
  outline-offset: 4px;
}
.icon i {
  margin: auto;
}
.icon:hover i {
  animation: shake 0.25s;
}
.icon--instagram:hover {
  background-image: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  outline-color: #a02d76;
}
.icon--whatsapp:hover {
  background-color: #2ea44f;
  outline-color: #2ea44f;
}
.icon--linkedin:hover {
  background-color: #0077b5;
  outline-color: #0077b5;
}
.icon--github:hover {
  background-color: purple;
  outline-color: purple;
}

@keyframes shake {
  0% {
    transform: rotate(10deg);
  }
  40% {
    transform: rotate(-10deg);
  }

  60% {
    transform: rotate(20deg);
  }
  80% {
    transform: rotate(-20deg);
  }
}

/*==========================================================================Media==================================*/
@media (max-width: 900px) {
  .navbar .links,
  .navbar .action_btn {
    display: none;
  }
  .navbar .toggle_btn {
    display: block;
  }
  .title h1 {
    font-size: 30px;
  }
  .dropdown_menu {
    display: block;
  }
  .intro .cont {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .card {
    width: 98%;
    max-width: 450px;
  }
  .card-image {
    height: 220px;
  }
}
